/* assets/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 10 10;
    padding: 10 10;
    background-color: rgb(77, 81, 99);
    color: white;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 100%; /* Increased from 800px to 1200px */
    margin: 0 auto;
    padding: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, textarea, .rc-slider {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    color: black;  /* Input text color */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}

button:hover {
    background-color: #58ca5c;
}

.graph {
    margin-top: 20px;
}

/* Specific styling for the dropdown with id 'model-dropdown' */
#model-dropdown .Select-control {
    background-color: white !important;  /* Background color of the dropdown */
    color: black !important;  /* Text color in the dropdown */
}

#model-dropdown .Select-menu-outer {
    background-color: white !important;  /* Background color of the dropdown options */
}

#model-dropdown .Select-option {
    color: black !important;  /* Text color of the dropdown options */
}

#model-dropdown .Select-placeholder {
    color: black !important;  /* Placeholder text color */
}

#model-dropdown .Select-value {
    color: black !important;  /* Selected value text color */
}

#model-dropdown .Select-input {
    color: black !important;  /* Selected value text color */
}
.dash-dropdown {
    color : black;
}

#agent-count-input{
    width: 30%;
} 
#stubbornness-input{
    width: 30%;
}
 #epsilon-input{
    width: 30%;
} 
#delta-input{
    width: 30%;
}
 #c-input{
    width: 30%;
}

#T-input{
    width: 30%;
}
#K-input{
    width: 30%;
}
#E-input{
    width: 30%;
}

#model-graph{
    width: 100%;
    height: 800px;
}
